.laptop-list {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    /* justify-content: stretch; */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* .laptop-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */

.laptop-listing {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: none;
    border: 1px solid black;
    padding: 20px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

.laptop-thumbnail {
    width: 300px;
    height: 200px;
    object-fit: scale-down;
}

.laptop-detail {
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
}

.laptop-gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: scale-down;
}

.laptop-config {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

button {
    float: right;
    /* border: none; */
    width: 60px;
    height: 40px;
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    color: white;
    background-color: blue;
}

p{
    word-wrap: break-word;
}

@media only screen and (max-width: 680px) {
    .laptop-listing {
        width: 100%;
    }
}

@media only screen and (min-width: 680px) and (max-width: 1020px) {
    .laptop-listing {
        width: 50%;
    }
}

@media only screen and (min-width: 1020px) and (max-width: 1360px) {
    .laptop-listing {
        width: 33.33%;
    }
}

@media only screen and (min-width: 1360px) and (max-width: 1700px) {
    .laptop-listing {
        width: 25%;
    }
}


@media only screen and (min-width: 1700px) {
    .laptop-listing {
        width: 20%;
    }
}